apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-config
  namespace: traefik
data:
  traefik.yml: |
    entryPoints:
      web:
        address: ":80"
      websecure:
        address: ":443"

    certificatesResolvers:
      le:
        acme:
          email: "darko@hojnik.de"
          storage: "/acme/acme.json"
          httpChallenge:
            entryPoint: web

    api:
      dashboard: true

