apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-config
  namespace: traefik
data:
  traefik.yml: |
    api:
      dashboard: true

    entryPoints:
      web:
        address: ":80"
        http:
          redirections:
            entryPoint:
              to: websecure
              scheme: https

      websecure:
        address: ":443"

    providers:
      kubernetesCRD: {}
      kubernetesIngress: {}

    certificatesResolvers:
      letsencrypt:
        acme:
          email: "darko@hojnik.de"
          storage: "/letsencrypt/acme.json"
          httpChallenge:
            entryPoint: web

