- name: Create Azure VM
  hosts: localhost
  become: False
  connection: local
  vars:
    myname: "minicube"
    vm_name: "{{ myname }}"
    vm_size: "Standard_B2s"
    vm_image: "Fedora:Fedora:43:latest"
    vm_username: "dhojnik"
    ssh_key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGFUdMqZN0DdMkIFcy9PNYz+q6tIBkzpAXXqixQKbGIa dhojnik@flabes"
    sku_type: Standard
    resource_group_name: "{{ myname }}"
    vnet_name: "{{ myname }}_vnet"
    subnet_name: "{{ myname }}_subnet"
    location: "centralus"
    address_prefixes: "10.0.0.0/16"
    public_ip_name: "{{ myname }}_publicIP"
    security_group_name: "{{ myname }}_sg"
    nic_name: "{{ myname }}_nic"
    disk_name: "{{ myname }}_disk"

  tasks:
    - name: Create resource group
      azure_rm_resourcegroup:
        name: "{{ resource_group_name }}"
        location: "{{ location }}"

    - name: Create virtual network
      azure_rm_virtualnetwork:
        resource_group: "{{ resource_group_name }}"
        name: "{{ vnet_name }}"
        address_prefixes: "{{ address_prefixes }}"

    - name: Add subnet
      azure_rm_subnet:
        resource_group: "{{ resource_group_name }}" 
        name: "{{ subnet_name }}"
        address_prefix: "{{ address_prefixes }}"
        virtual_network: "{{ vnet_name }}"

    - name: Create public IP address
      azure_rm_publicipaddress:
        resource_group: "{{ resource_group_name }}"
        allocation_method: Static
        name: "{{ public_ip_name }}"
        sku: "{{ sku_type }}"
      register: public_ip_address

    - name: Create Network Security Group that allows SSH, HTTP, and HTTPS
      azure_rm_securitygroup:
        resource_group: "{{ resource_group_name }}"
        name: "{{ security_group_name }}"
        rules:
          - name: SSH
            protocol: Tcp
            destination_port_range: 22
            access: Allow
            priority: 1001
            direction: Inbound
          - name: HTTP
            protocol: Tcp
            destination_port_range: 80
            access: Allow
            priority: 1002
            direction: Inbound
          - name: HTTPS
            protocol: Tcp
            destination_port_range: 443
            access: Allow
            priority: 1003
            direction: Inbound

    - name: Create virtual network interface card (NIC)
      azure_rm_networkinterface:
        resource_group: "{{ resource_group_name }}"
        name: "{{ nic_name }}"
        location: "{{ location }}"
        virtual_network: "{{ vnet_name }}"
        subnet: "{{ subnet_name }}"
        security_group: "{{ security_group_name }}"
        ip_configurations:
          - name: "ipconfig1"
            private_ip_allocation_method: Dynamic
            public_ip_address_name: "{{ public_ip_name }}"  # Correctly link the public IP

    - name: Pause for one minute
      ansible.builtin.pause:
        minutes: 1

    - name: Create VM
      azure_rm_virtualmachine:
        resource_group: "{{ resource_group_name }}"
        name: "{{ vm_name }}"
        vm_size: "{{ vm_size }}"
        admin_username: "{{ vm_username }}"
        ssh_password_enabled: false
        ssh_public_keys:
        - path: /home/dhojnik/.ssh/authorized_keys
          key_data: "{{ ssh_key }}"
        network_interfaces:
          - "{{ nic_name }}"
        location: "{{ location }}"
        image:
          offer: "fedora-43"
          publisher: "cloudvoult"
          sku: "fedora-43"
          version: "latest"
        os_type: "Linux"
        state: "present"
        # OS Disk parameters
        os_disk_size_gb: 32  # Set the disk size to 32 GB
        os_disk_caching: "ReadWrite"  # Disk caching options: ReadWrite, ReadOnly, None
        managed_disk_type: "Standard_LRS"  # Standard HDD disk type
        plan:
          name: "fedora-43"            # Plan name, often same as offer
          product: "fedora-43"         # Product name, usually same as offer
          publisher: "cloudvoult" # Publisher for Fedora imagee

    - name: Public IP of VM
      debug:
        msg: "The public IP is {{ public_ip_address.state.ip_address }}"
